---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { Image } from 'astro:assets';

export async function getStaticPaths({paginate}) {
	const posts = paginate((await getCollection('blog')).sort(
		(a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
	), { pageSize: 15 });
	return posts;
}

const { page } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			h2 {
				margin: 0;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h2>記事一覧</h2>
			<div>
				{page.currentPage}ページ目 (全{page.lastPage}ページ)
			</div>
			<ul class="article-list">
				{page.data.map((post) => (
					<li>
						<a href={`/p/${post.id}/`}>
							{post.data.heroImage && (
								<Image width={720} height={360} src={post.data.heroImage} alt="" />
							)}
							<span class="title">{post.data.title}</span>
							<p class="date">
								<FormattedDate date={post.data.date} />
							</p>
						</a>
					</li>
				))}
			</ul>
			<div class="pagination">
				{page.url.first ? <a href={page.url.first}>First</a> : <span></span>}
				{page.url.prev ? <a href={page.url.prev}>Previous</a> : <span></span>}
				{page.url.next ? <a href={page.url.next}>Next</a> : <span></span>}
				{page.url.last ? <a href={page.url.last}>Last</a> : <span></span>}
			</div>
		</main>
		<Footer />
	</body>
</html>
